.App {
    background-color: #000000;
    width: 100vw;
    color: #ffffff;
    background-image: url('../../assets/background-stars.svg');

    &__Header {

    }

    &__Main {
        padding-top: 100px;
    }
}