@import 'react-perfect-scrollbar/dist/css/styles.css';

html {
    overflow: hidden;
    height: 100%;
};

#root {
    height: 100vh;
    position: relative;
}

.App {
    background-color: #000000;
    color: #ffffff;
    background-image: url('../../assets/background-stars.svg');

    &__Header {

    }

    &__Main {
        padding-top: 100px;
        height: calc(100vh + 210px);
    }
}