.Description {
    padding: 0px 24px;
    &__Title {
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 16px;
        text-align: center;
        text-transform: uppercase;
    }

    &__Text {
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 22px;
        text-align: center;
    }
    &__Source {
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin-top: 32px;

        a {
            font-family: Spartan;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 25px;
            text-decoration: none;
            text-decoration-line: underline;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
            cursor: pointer;
        }
    }
}


@media (min-width: 768px) {
    .Description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        &__Title {
            margin-top: 126px;
            margin-bottom: 24px;
            p {
                margin: 24px 0px;

            }
        }

        &__Title, &__Text, &__Source {
            text-align: left;
        }

        &__Source {
            margin-top: 24px;
        }
    }
}
@media (min-width: 1440px) {
    .Description {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: end; 
        justify-content: end;
        &__Title {
            font-family: Antonio;
            font-style: normal;
            font-weight: normal;
            font-size: 80px;
            line-height: 104px;
            margin-top: 126px;
            margin-bottom: 24px;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        &__Title, &__Text, &__Source {
            width: 350px;
        }

        &__Source {
            margin-top: 24px;
        }

    }
}