.Menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    user-select: none;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    // height: 46px;

    &__Tab {
        font-family: Spartan;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 28px;
        opacity: 0.8;
        /* identical to box height */
        
        text-align: center;
        letter-spacing: 1.92857px;
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: 5px solid transparent;
        transition: all .2s ease-in-out;



        &--Active {
            border-bottom: 5px solid #fff;
            transition: all .2s ease-in-out;
            opacity: 1;

        }

        &:hover {
            border-bottom: 5px solid #fff;
            transition: all .2s ease-in-out;
            opacity: 1;
        }
        button {
            background: none;
            color: #fff;
            border: none;
            font-family: Spartan;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
        }

    }
}