.Preview {
    height: 304px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__Image {

        img {
            object-fit: cover;
            height: 111px;
        }

        &--Second {
            position: absolute;
            top: 50%;
            z-index: 1;
            img {
                height: 150px !important;
            }
        }
    }
}

@media (min-width: 768px) {
    .Preview {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
        grid-row-start: 1;

        &__Image {
            img {
                height: 184px;
                margin-top: 184px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .Preview {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 3;
        grid-row-start: 1;
        height: unset;
        &__Image {
            img {
                height: unset;
            }
        }
    }
}
