@import '../variables/variabvles.scss';

.Navigation {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px);
    height: 68px;
    padding: 16px 24px;

    // mobile

    &--Collapsed {
        padding: 0;
        width: 100vw;
        height: 100vh;
        background: #070724;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-direction: column;
        z-index: 10;

        .Navigation__Menu {
            display: flex;
            width: 100%;

        }

        .Navigation__Title {
            text-align: left;
            width: 100%;
            padding: 15px 24px;
            width: calc(100vw - 50px);
        }

        .Navigation__Item {
            height: 65px;
            padding: 0px 24px;

            &:hover,
            &--Selected {
                transform: none !important;

                .Navigation__Chevron {
                    opacity: 1;
                }
            }

            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            &:last-child {
                border-bottom: none;
                ;
            }

        }

        .Navigation__Dot {
            width: 20px;
            height: 20px;
            background: #ccc;
            border-radius: 25px;
            margin-right: 25px;
        }

        .Navigation__Name {
            width: calc(100% - 65px);
            text-align: left;

        }

        .Navigation__Chevron {
            background-image: url('../../assets/icon-chevron.svg');
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;


        }

        .Navigation__Toggle {
            position: absolute;
            top: 0;
            right: 24px;
        }
    }

    &__Title {
        white-space: nowrap;
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.05px;
        text-transform: uppercase;

        color: #FFFFFF;

        //mobile {
        padding: 50px 0px;

    }

    &__Menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;

        //mobile 
        height: calc(100% - 100px);
        width: 250px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    &__Item {
        @include h4;
        //mobile
        height: 50px;
        display: flex;
        // justify-content: center;
        align-items: center;
        transform: scale(1);
        cursor: pointer;
        background: none;
        color: #fff;
        border: none;

        &:hover {
            transform: scale(1.5);
            transition: all .2s ease-in-out;
            color: #fff;
        }

        &--Selected {
            transform: scale(1.5);
            transition: all .2s ease-in-out;
            color: #fff !important;

        }
    }

    &__Toggle {
        padding: 0;
        margin: 50px 0;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;

        &:hover {
            transform: scale(1.5);
            transition: all .2s ease-in-out
        }
    }

}

@media (min-width: 768px) {
    .Navigation {
        flex-direction: column;
        width: 100%;
        padding: 0;

        &__Menu {
            display: flex;
            flex-direction: row;
            width: auto;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            height: 50px;
            width: 100%;
            justify-content: center;
        }

        &__Item {
            margin-right: 25px;
            color: rgba(255, 255, 255, 0.75);
        }

        &__Toggle {
            display: none;
        }

    }
}

@media (min-width: 1440px) {
    .Navigation {
        flex-direction: row;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &__Menu {
            border-bottom: none;
            justify-content: flex-end;
            margin-right: 32px;
        }

        &__Title {
            padding: 0;
            margin: 0;
            margin-left: 32px;
        }
    }
}